.sections-vertical {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.sections-vertical .section {
  border-bottom: 1px solid #e2e2e5;
}

.pad {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: 60px;
}

.pad .padForm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.padForm .header-pad {
  margin-right: 20px;
  width: 380px;
  padding-bottom: 40px;
}
.padForm .form-pad {
  width: 420px;
  background: #f4f4f5;
  border-radius: 5px;
  padding: 30px 30px 30px;
  position: relative;
}

.line.radical {
  background-color: #106ba3;
}

.line {
  height: 2px;
  margin-top: 18px;
  width: 30px;
}

.title-text {
  display: inline-block;
  max-width: 100%;
  color: #1e1e31;
  white-space: normal;
  letter-spacing: normal;
  font: 20px/28px Inter, sans-serif;
  padding-bottom: 10px;
  font-weight: 600;
}

.description-text {
  display: inline-block;
  max-width: 100%;
  color: #515164;
  white-space: normal;
  letter-spacing: normal;
  font: 16px/20px Inter, sans-serif;
  font-weight: 400;
}
