.bp3-large {
  .bp3-tab-indicator-wrapper {
    color: #106ba3 !important;
  }
  .bp3-tab {
    font-size: 16px;
    color: #182026;
  }
  .bp3-tab:not([aria-disabled='true']):hover,
  .bp3-tab[aria-selected='true'] {
    color: #106ba3 !important;
  }
}
