@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout {
  min-height: 100vh !important;
}

button:focus {
  border: none !important;
  outline: none !important;
}

:focus {
  outline: none !important ;
}

.custom_second {
  background-color: #ff5722 !important;
  color: white !important;
  background-image: none !important;
  border: none !important;
}

.custom_second:focus {
  background-color: #ff5722 !important;
  color: white !important;
  background-image: none !important;
  border: none !important;
}

button:active {
  filter: opacity(0.2);
}

span.active-breadcrumb {
  color: #1890ff;
  font-weight: 600;
}
.ant-breadcrumb .anticon {
  font-size: 20px !important;
}

span {
  cursor: pointer;
}

.form-Info {
  margin: 0;
  padding: 20px;
  width: 100%;
}

.react-tel-input .form-control {
  height: 40px !important;
  width: 100% !important;

  border: 1px solid #ced4da !important;
  padding: 0.5rem 0.5rem !important;
  font-size: 1rem !important;
  padding-left: 41px !important;
  color: #495057 !important;
  background: #ffffff;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s !important;
  border-radius: 3px !important;
}

.react-tel-input .form-control:enabled:hover {
  border-color: #1890ff !important;
}

.react-tel-input .form-control::selection {
  color: #fff;
  background: #1890ff;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px !important;
}

.custom-input {
  height: 40px;
  width: 100%;
  border: 1px solid #ced4da;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  padding-left: 41px;
  color: #495057;
  background: #ffffff;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 3px;
}

.ant-form-vertical .ant-form-item-label > label {
  height: auto;
  font: 14px/20px Inter, sans-serif;
  letter-spacing: normal;
  color: #515164;
}



.ant-collapse {
  border-radius: 5px !important;
  background-color: #ffffff !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font: 16px/20px Inter, sans-serif;
  letter-spacing: normal;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  background-clip: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}
.site-layout .site-layout-background .site-layout-header {
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%) !important;
  color: #515164 !important;
  padding: 16px 20px !important;
  position: relative !important;
  width: 100% !important;
  justify-content: center !important;
  min-height: 36px;
  font-size: 16px;
  font-weight: 600;
}
.ant-form-item-label
> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
content: '' !important;
}

.site-layout .site-layout-background .site-layout-header-centred {
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%) !important;
  color: #515164 !important;
  padding: 16px 20px !important;
  position: relative !important;
  width: 100% !important;
  justify-content: center !important;
  display: flex;
  min-height: 36px;
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 600;
}
.site-layout .site-layout-background .site-layout-content {
  padding: 20px;
}



.ant-list-bordered {
  border-radius: 5px !important;
}

.ant-picker-range {
  width: 100%;
  padding: 6.5px 11px !important;
  font-size: 16px !important;
}

.sections-vertical {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.sections-vertical .section {
  border-bottom: 1px solid #e2e2e5;
}

.pad {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.pad .padForm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pad .padForm_vertical {
  display: flex;
  align-items: column;
  flex-direction: column;

  justify-content: space-between;
}

.padForm_vertical .header_centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.padForm .header-pad {
  margin-right: 20px;
  width: 380px;
  padding-bottom: 40px;
}






.padForm .form-pad {
  width: 420px;
  background: #f4f4f5;
  border-radius: 5px;
  padding: 30px 30px 30px;
  position: relative;
}

.padForm .form-pad-2 {
  width: 420px;
  border-radius: 5px;
  padding: 0px;
  position: relative;
}

.padForm .form-pad-button {
  width: 120px;
  padding: 0px;
  padding: top -20px;
  position: relative;
}

.line.radical {
  background-color: #106ba3;
}

.line {
  height: 2px;
  margin-top: 18px;
  width: 30px;
}

.title-text {
  display: inline-block;
  max-width: 100%;
  color: #1e1e31;
  white-space: normal;
  letter-spacing: normal;
  font: 20px/28px Inter, sans-serif;
  padding-bottom: 10px;
  font-weight: 600;
}

.description-text {
  display: inline-block;
  max-width: 100%;
  color: #515164;
  white-space: normal;
  letter-spacing: normal;
  font: 16px/20px Inter, sans-serif;
  font-weight: 400;
}



.site-layout .site-layout-background .site-layout-header-deviser{
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%);
    color: #515164;
    padding: 16px 20px;
    position: relative;
    width: 100%;
    min-height: 70px;
}

.site-layout-header-deviser .header-left{
  left: 20px;
    position: absolute;
    top: 16px;
    z-index: 2;
    display: flex;
}

.site-layout-header-deviser .header-right{
  position: absolute;
    right: 20px;
    top: 16px;
    z-index: 3;
    display: flex;
    min-height: 32px;
    display: flex;
}

.site-layout-header-deviser .header-middle{
  align-items: center;
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 32px;
  z-index: 1;
  position: relative;
  display: flex;

}


.box-nbr-employees {
  padding: 10px;
  justify-content: center;
  display: flex;

}