.radio-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  label {
    font-weight: bold;
  }
}
.p-field-radiobutton {
  padding: 10px 10px !important;
  border-radius: 10px !important;
  border: 1 !important;
  height: fit-content !important;
  width: 100% !important;
}



